{% trans_default_domain 'CurrencyConverterBundle' %}

<div class="d-flex justify-content-between align-items-center">
    <div>
        <a href="{{ catalogUrl }}" class="btn btn-default btn-return">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    </div>
    <div class="d-flex align-items-center">
        {{ submitBtn|raw }}
        {% if entity and entity.id %}
            <a class="btn btn-white ms-2" data-toggle="modal" data-target="#approveDeleteModal">
                <i class="fas fa-times fa-sm"></i> {{ 'delete'|trans }}
            </a>
        {% endif %}
    </div>
</div>