{% trans_default_domain 'CurrencyConverterBundle' %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="base-currency">
        <span class="icon text-white-50">
            <i class="fas fa-dollar-sign"></i>
        </span>
        <span class="text">USD - {{ 'base_currency'|trans }}</span>
    </div>
</nav>